.mealImg {
  height: 150px;
  width: 150px;
}
.mealImg img {
  width: 100%;
  border-radius: 20px;
}
.MealContainer {
  text-align: left;
  margin: 20px;
  padding: 20px;
  background-color: goldenrod;
  border-radius: 20px;
}
.Btn {
  background-color: black;
  color: whitesmoke;
  cursor: pointer;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}
