.mealImg {
  height: 250px;
  width: 100%;
}
.mealImg img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.MealContainer {
  text-align: left;
  margin: 20px;
  padding: 20px;
  background-color: goldenrod;
  border-radius: 20px;
}
.Btn {
  background-color: goldenrod;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  border: 2px solid black;
  transition: 0.3s ease;
}
.Btn:hover {
  background-color: black;
  border: 2px solid black;
  color: whitesmoke;
}
.area {
  color: brown;
  font-weight: bold;
}
.catagory {
  color: green;
  font-weight: bold;
}
